<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/day2_1/css/style.css"/>
    </head>

    <body>
        <p colspan="4" style="text-align:right"> <input type="button" value="English.ver" onclick="location.href='english_ver.html'"/></p>
        <HR>
        <p>
            <h1> 박효신 단독 콘서트 2019 </h1>
        </p>
        <HR>
        <p>
            <a href = "http://blog.naver.com/PostView.nhn?blogId=3815lover&logNo=220838306580"> <img src="/day2_1/img/photo1.jpg" width="745px" alt="박효신 앨범 사진" class="i"></a>
            <table border="1">
                <tr scope="row">
                    <td class="a">  </td>
                    <td style="text-align:center" ; colspan="2"> <b> 전국 투어 일정 </b> </td>
                </tr>
                <tr scope="row">
                    <td style="text-align:center"; class="a"> <b> 공연 장소 </b> </td>
                    <td> 서울, 대한민국 </td>
                    <td> 추후 공개 예정 </td>
                </tr>
                <tr scope="row">
                        <td style="text-align:center"; class="a"> <b> 공연 일정 </b> </td>
                        <td> 2019.07.12 </td>
                        <td> 추후 공개 예정 </td>
                </tr>
                <tr scope="row">
                        <td style="text-align:center"; class="a"> <b> 상세정보 <br> (이미지 클릭시 이동) </b> </td>
                        <td colspan="2">
                            <a href = "https://theqoo.net/square/920018094"> <img class="i" src="/day2_1/img/photo2.jpg" width="600px" alt="박효신 콘서트 사진"></a>
                        </td>
                </tr>
            </table>
        </p>
        <p>
            <fieldset>
                <legend style="font-family:Malgun Gothic;"> 티켓 예매</legend>
                    <table border="1">
                        <tr scope="row">
                            <td class="a" ; style="text-align:center" rowspan="5"> <b>예매자 정보</b> </td>
                            <td style="text-align:center"> <b> 이름 </b> </td>
                            <td colspan="2"> <input type="text" name="이름" style="width:300px"/> </td>
                        </tr>
                        <tr scope="row">
                                <td style="text-align:center"> <b> 이메일 </b> </td>
                                <td> <input type="text" name="이메일"/> </td>
                                <td>     <select name="domain" size="1">
                                        <option>@scg.skku.ac.kr</option>
                                        <option>@skku.ac.kr</option>
                                        <option>@gmail.com</option>
                                        <option>@naver.com</option> </td>
                        </tr>
                        <tr scope="row">
                                <td style="text-align:center"> <b> 희망좌석위치 </b> </td>
                                <td colspan="2"> <input type="radio" name="seat" value="R"/> R석
                                    <input type="radio" name="seat" value="S"/> S석
                                    <input type="radio" name="seat" value="A"/> A석 </td>
                        </tr>
                        <tr scope="row">
                            <td style="text-align:center" height="70px"> <b> 문의 </b> </td>
                            <td colspan="2"> <input type="text" name="question" style="width:480px; height:70px"/></td>
                        </tr>
                        <tr scope="row">
                            <td colspan="4" style="text-align:center"> <input type="button" value="제출하기" onclick="location.href='submit_page.html'"/> </td>
                        </tr>
                    </table>
            </fieldset>
        </p>
    </body>
</html>