<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" type="text/css" href="css/style.css"/>
        </head>

        <body>
                <p class="k">
                        읽어봐주셔서 감사합니다!
                </p>
                <p class="k">
                        2016314728 정재헌
                </p>
                <p class="k">
                        <img src="../../public/day2_1/img/photo3.jpg" width="600px" alt="오늘 아침">
                </p>
                <p class="k">
                        이건 며칠 전 차려먹은 아침입니다.
                </p>
                <p class="k">
                        정말 맛있었습니다.
                </p>
        </body>
</html>