<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../public/day2_1/css/style.css"/>
    </head>

    <body>
        <p colspan="4" style="text-align:right"> <input type="button" value="Korean.ver" onclick="location.href='index.html'"/></p>
        <HR>
        <p>
            <h1> Park Hyo-shin's solo concert 2019 </h1>
        </p>
        <HR>
        <p>
            <a href = "http://blog.naver.com/PostView.nhn?blogId=3815lover&logNo=220838306580"> <img src="../../public/day2_1/img/photo1.jpg" width="745px" alt="박효신 앨범 사진" class="i"></a>
            <table border="1">
                <tr scope="row">
                    <td class="a">  </td>
                    <td style="text-align:center" ; colspan="2"> <b> National Tour Schedule </b> </td>
                </tr>
                <tr scope="row">
                    <td style="text-align:center"; class="a"> <b> Lacation </b> </td>
                    <td> Seoul, Republic of Korea </td>
                    <td> to be released later </td>
                </tr>
                <tr scope="row">
                        <td style="text-align:center"; class="a"> <b> Schedule </b> </td>
                        <td> 2019.07.12 </td>
                        <td> to be released later </td>
                </tr>
                <tr scope="row">
                        <td style="text-align:center"; class="a"> <b> Details <br> (Move when image is clicked..) </b> </td>
                        <td colspan="2">
                            <a href = "https://theqoo.net/square/920018094"> <img class="i" src="../../public/day2_1/img/photo2.jpg" width="600px" alt="박효신 콘서트 사진"></a>
                        </td>
                </tr>
            </table>
        </p>
        <p>
            <fieldset>
                <legend style="font-family:Malgun Gothic;"> Ticket Booking </legend>
                    <table border="1">
                        <tr scope="row">
                            <td class="a" ; style="text-align:center" rowspan="5"> <b>Reseller Information</b> </td>
                            <td style="text-align:center"> <b> Name </b> </td>
                            <td colspan="2"> <input type="text" name="이름" style="width:300px"/> </td>
                        </tr>
                        <tr scope="row">
                                <td style="text-align:center"> <b> E-mail </b> </td>
                                <td> <input type="text" name="이메일"/> </td>
                                <td>     <select name="domain" size="1">
                                        <option>@scg.skku.ac.kr</option>
                                        <option>@skku.ac.kr</option>
                                        <option>@gmail.com</option>
                                        <option>@naver.com</option> </td>
                        </tr>
                        <tr scope="row">
                                <td style="text-align:center"> <b> Seat </b> </td>
                                <td colspan="2"> <input type="radio" name="seat" value="R"/> R seat
                                    <input type="radio" name="seat" value="S"/> S seat
                                    <input type="radio" name="seat" value="A"/> A seat </td>
                        </tr>
                        <tr scope="row">
                            <td style="text-align:center" height="70px"> <b> Inquiry </b> </td>
                            <td colspan="2"> <input type="text" name="question" style="width:480px; height:70px"/></td>
                        </tr>
                        <tr scope="row">
                            <td colspan="4" style="text-align:center"> <input type="button" value="submit" onclick="location.href='submit_page.html'"/> </td>
                        </tr>
                    </table>
            </fieldset>
        </p>
    </body>
</html>