<html>
  <head>
      <style>
          html {background: url(../public/day4/img/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
          img {display: block; margin: 0px auto; }
      </style>
      <link href="../public/day4/css/style.css" rel="stylesheet">
  </head>
  <body>
      <p>
          <img src='../public/day4/img/title.jpg' width='600px'>
      </p>
      <br>
      <p>
          <br><br>
          &#160;&#160;&#160;&#160;&#160;
          <input type="button" class="button" value="1일차 과제1" style=" margin: auto; text-align:center;" onclick="location.href='./day1_1/index.html'"/>
          &#160;&#160;&#160;&#160;&#160;
          <input type="button" class="button" value="1일차 과제2" style=" margin: auto; text-align:center;" onclick="location.href='./day1_2/index.html'"/>
          &#160;&#160;&#160;&#160;&#160;
          <input type="button" class="button" value="1일차 과제3" style=" margin: auto; text-align:center;" onclick="location.href='./day1_3/index.html'"/>
      </p>
      <br><br><br>
      <p>
          <input type="button" class="button" value="2일차 과제1" style="margin: auto; text-align:center;" onclick="location.href='./day2_1/index.html'"/>
          &#160;&#160;&#160;&#160;&#160;
          <input type="button" class="button" value="2일차 과제2" style="margin: auto; text-align:center;" onclick="location.href='./day2_2/index.html'"/>
          &#160;&#160;&#160;&#160;&#160;
          <input type="button" class="button"  value="3일차 과제1" style="margin: auto; text-align:center;" onclick="location.href='./day3/index.html'"/>
      </p>
  </body>
</html>