h1 {text-align:center; font-family:바탕;font-weight: bold;}



h1:hover { 
    background-color: yellow;
  }

.i {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-width:2px; border-style:solid ; border-color:black;
}

.j {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.k {text-align:center;}


img:hover {
  background-color: grey; 
}

body {font-family:맑은고딕;}



table {
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  margin : auto;
}

table tr {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: black;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table td {
  width: 100px;
  padding: 10px;
  vertical-align: top;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.a {
  background-color:#F2F2F2;
}