.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button:hover {background-color: #3e8e41}

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.login_button {
    background-color: #FF8000; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .login_button:hover {background-color: #cc6600}

  .login_button:active {
    background-color: #cc6600;
    transform: translateY(4px);
  }

  .account_button {
    background-color: white;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 15px;
  }

  .account_button:hover {background-color: white}

  .account_button:active {
    background-color: white;
    transform: translateY(4px);
  }


  #btn_i {
    margin-left:auto;
    margin-right:auto;
}

  .mid {display: block; margin: 0px auto; text-align:center;}