<!DOCTYPE html>
<html>
    <head>
         <style type="text/css"></style>
    </head>
    <body>
        <HR>
        <p>
            <h1> 박효신 단독 콘서트 2019 </h1>
        </p>
        <HR>
        <p>
            <a href = "http://blog.naver.com/PostView.nhn?blogId=3815lover&logNo=220838306580"> <img src="/day1_3/img/photo1.jpg" width="400px" alt="박효신 앨범 사진"></a>
            <table border="1">
                <tr>
                        <td>  </td>
                        <td style="text-align:center" colspan="2"> <b> 전국 투어 일정 </b> </td>
                </tr>
                <tr>
                        <td style="text-align:center"> <b> 공연 장소 </b> </td>
                        <td> 서울, 대한민국 </td>
                        <td> 추후 공개 예정 </td>
                </tr>
                <tr>
                        <td style="text-align:center"> <b> 공연 일정 </b> </td>
                        <td> 2019.07.12 </td>
                        <td> 추후 공개 예정 </td>
                </tr>
                <tr>
                        <td style="text-align:center"> <b> 상세정보 <br> (이미지 클릭시 이동) </b> </td>
                        <td colspan="2">
                            <a href = "https://theqoo.net/square/920018094"> <img src="/day1_3/img/photo2.jpg" width="400px" alt="박효신 콘서트 사진"></a> </td>
                </tr>
            </table>
        </p>

        <p>
            <fieldset>
                <legend> 티켓 예매</legend>
                <table border="1">
                    <tr>
                        <td style="text-align:center" rowspan="4"> <b>예매자 정보</b> </td>
                        <td style="text-align:center"> <b> 이름 </b> </td>
                        <td colspan="2"> <input type="text" name="이름" style="width:300px"/> </td>
                    </tr>
                    <tr>       
                            <td style="text-align:center"> <b> 이메일 </b> </td>
                            <td> <input type="text" name="이메일"/> </td>
                            <td>     <select name="domain" size="1">
                                    <option>@scg.skku.ac.kr</option>
                                    <option>@skku.ac.kr</option>
                                    <option>@gmail.com</option>
                                    <option>@naver.com</option> </td>
                    </tr>
                    <tr>
                            <td style="text-align:center"> <b> 희망좌석위치 </b> </td>
                            <td colspan="2"> <input type="radio" name="seat" value="R"/> R석
                                <input type="radio" name="seat" value="S"/> S석
                                <input type="radio" name="seat" value="A"/> A석 </td>
                    </tr>
                    <tr>
                        <td style="text-align:center" height="70px"> <b> 문의 </b> </td>
                        <td colspan="2"> <input type="text" name="question" style="width:300px; height:70px"/></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:center"> <input type="button" value="제출하기" onclick="window.location.href='/day1_3/submit'"/> </td>
                    </tr>
                </table>
            </fieldset>
        </p>
    </body>
</html>