<!DOCTYPE html>
<html>
    <head>
    <style type="text/css">
    
    table, td{
    border: 0.7px solid black  
    }

    table{
    text-align: center;
    }
    
    .category{
        text-align: center;
    }

</style>
</head>


<body>

<table border="1">
    
     <h1> ☆★정재헌의 시간표★☆ </h1>
     <tr>
         <th width="100" height="40"> 시간 </th>
         <th width="100"> 월 </th>
         <th width="100"> 화 </th>
         <th width="100"> 수 </th>
         <th width="100"> 목 </th>
         <th width="100"> 금 </th>
     </tr>
     <!--09시-->
     <tr>
         <td height="70" rowspan="4"> <b> 09시 </b> </td>
         <td>  </td>
         <td>  </td>
         <td>  </td>
         <td bgcolor="#F8F67D" rowspan="5"> 해석학 <br> 김인숙 <br> 31316 </td> 
         <td bgcolor="#FAC5F1" rowspan="11"> 공학수학1 <br> 이경식 <br> 22211 </td>
     </tr>
     <tr>
                
         <td>  </td>
         <td>  </td>
         <td>  </td>
         
         
     </tr>
     <tr>
       
        <td>  </td>
        <td>  </td>
        <td>  </td>
        
        
    </tr>
    <tr>
                
        <td>  </td>
        <td>  </td>
        <td>  </td>
        
        
    </tr>
    <tr>
            <td height="70" rowspan="4"> <b> 10시 </b> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            
           
        </tr>
        <tr>
                  
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            
        </tr>
        <tr>

           <td>  </td>
           <td bgcolor="#F8F67D" rowspan="5"> 해석학 <br> 김인숙 <br> 31316 </td> 
           <td>  </td>
           <td>  </td>
           
       </tr>
       <tr>
                 
           <td>  </td>
          
           <td>  </td>
           <td>  </td>
           
       </tr>

       <tr>
            <td height="70" rowspan="4"> <b> 11시 </b> </td>
            <td>  </td>
           
            <td>  </td>
            <td>  </td>
            
        </tr>
        <tr>
                  
            <td>  </td>
           
            <td>  </td>
            <td>  </td>
            
        </tr>
        <tr>
           
           <td>  </td>
        
           <td>  </td>
           <td>  </td>
           
       </tr>
       <tr>
                 
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
       </tr>

       <!--오후-->

       <tr>
            <td height="70" rowspan="4"> <b> 12시 </b> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td bgcolor="skyblue" rowspan="11"> 윤리학 <br> 박필배 <br> 26509 </td>
        </tr>
        <tr>
                  
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            
        </tr>
        <tr>
           
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
           
       </tr>
       <tr>
              
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
           
       </tr>

       <tr>
            <td height="70" rowspan="4"> <b> 13시 </b> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            
        </tr>
        <tr>
                
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
           
        </tr>
        <tr>
         
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
           
       </tr>
       <tr>
               
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
           
       </tr>
       <tr>
            <td height="70" rowspan="4"> <b> 14시 </b> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            
        </tr>
        <tr>
                
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            
        </tr>
        <tr>
       
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
           
       </tr>
       <tr>
           
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
       </tr>
       <tr>
            <td height="70" rowspan="4"> <b> 15시 </b> </td>
            <td>  </td>
            <td bgcolor="#D2D3F3" rowspan="5"> 정수론 <br> 권순학 <br> 31316 </td>
            <td bgcolor="#B4F8C4" rowspan="5"> 미분방정식 <br> 년푸중 <br> 31316 </td>
            <td bgcolor="#F2D37C" rowspan="5"> 프기실 <br> 이연호 <br> 27419B </td>
            <td>  </td>
        </tr>
        <tr>
                   
            <td>  </td>
            
            
            
            <td>  </td>
        </tr>
        <tr>
          
           <td>  </td>
           
           
           
           <td>  </td>
       </tr>
       <tr>
                 
           <td>  </td>
           
           
           
           <td>  </td>
       </tr>

       <tr>
            <td height="70" rowspan="4"> <b> 16시 </b> </td>
            <td>  </td>
            
            
            
            <td>  </td>
        </tr>
        <tr>
              
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
        </tr>
        <tr>
         
           <td bgcolor="#B4F8C4" rowspan="5"> 미분방정식 <br> 년푸중 <br> 31316 </td> 
           <td bgcolor="#F2D37C" rowspan="5"> 프기실 <br> 이연호 <br> 22110 </td>
           <td>  </td>
           <td bgcolor="#D2D3F3" rowspan="5"> 정수론 <br> 권순학 <br> 31316 </td>
           <td>  </td>
       </tr>
       <tr>
              
           
           
           <td>  </td>
           
           <td>  </td>
       </tr>
       <tr>
            <td height="70" rowspan="4"> <b> 17시 </b> </td>
            
            
            <td>  </td>
            
            <td>  </td>
        </tr>
        <tr>
              
            
            
            <td>  </td>
            
            <td>  </td>
        </tr>
        <tr>
         
           
           
           <td>  </td>
           
           <td>  </td>
       </tr>
       <tr>
              
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
           <td>  </td>
       </tr>
 </table>

</body>
</html>