<!DOCTYPE html>
<html>
    <head>
    <style type="text/css">
    
    .category{
        text-align: center;
    }

</style>
</head>


<body>

<table border="1">
    
     <tr>
         <td class = category > <b> 과목명 </b> </td>
         <td colspan="2000"> 윤리학 </td>
         
     </tr>
     <tr>
         <td class = category> <b> 교수 </b> </td>
         <td colspan="2000"> 박필배 </td>

     </tr>
     <tr>
             <td class = category> <b> 강의실 </b> </td>
             <td> 26509 </td>
             <td> <b> 강의시간 </b> </td>
             <td> 금 12:00~13:15, 13:30~14:45 </td>
     </tr>
     <tr>
            <td class = category> <b> 교재정보 </b> </td>
            <td colspan="2000">
                <ul type="square">
                    <li> 칸트 윤리학과 형식주의 </li>
                    <li> 공리주의(존 스튜어트 밀) </li>
                    <li> 윤리학과 인간의 직업적 삶 </li>
                </ul>
            </td>

    </tr>
 </table>

 </body>
 </html>